main{
    display: flex;
    flex-direction: row;
}

section{
    color: #ffffff;
    background-color: #2c3e50;
    width: 45%;
    padding: 1%;
    margin: 1.4%;
}

section>h2{
    font-size: 3rem;
}

section li {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    gap: 0.6rem;
    margin-bottom: 0.5rem;
}

.competences-tech {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.3;
}

.savoir-etre{
    line-height: 1.6;
}

.tech-logo {
    height: 2.5rem;
    width: auto;
}