main {
    padding: 3rem 4rem;
}

main > h1 {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.formation {
    margin-bottom: 3rem;
    padding: 2rem 2.5rem;

    background-color: #2c3e50;
    color: white;

    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.formation h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.formation-meta {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 1.2rem;
}

.formation p,
.formation ul {
    line-height: 1.6;
}

.formation ul {
    padding-left: 1.2rem;
    margin-top: 0.5rem;
}

.formation-description {
    display: flex;
    align-items: center;   /* aligne verticalement logo / texte */
    gap: 1rem;             /* espace entre logo et texte */
}

.formation-logo {
    max-height: 5rem;
    margin-left: auto;
    height: auto;
    flex-shrink: 0;        /* empêche le logo de se réduire */
}