main > h1 {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.formation-meta {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 1.2rem;
}

.formation p,
.formation ul {
    line-height: 1.6;
}

.formation ul {
    padding-left: 1.2rem;
    margin-top: 0.5rem;
}

.formation-description {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.formation-logo {
    max-height: 5rem;
    margin-left: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 15px;
}