html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
}

header {
    height: 20vh;
    padding: 20px 40px;
    color: white;
    background-color: royalblue;
}

main {
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

nav span {
    font-size: 1.1rem;
    color: #2c3e50;
}

nav a:hover {
    text-decoration: underline;
}

section {
    background-color: #2c3e50;
    color: white;

    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 2.5%; 
    padding: 1%;
}

section h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

footer {
    max-height: 100vh;
    padding: 1rem 2rem;

    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.7);

    text-align: center;
    font-size: 0.9rem;
}