#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;

    border-radius: 50px;
    margin: 40px;

    background-color: #2c3e50;
    color: white;
    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.35),
        inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.intro-texte {
    width: 75%;
    padding-left: 0.5rem;
}

.intro-texte p {
    line-height: 1.5;
    text-align: justify;
}

.intro-photo {
    width: 20%;
    height: auto;

    padding: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 54px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.intro-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50px;
}