#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}

.intro-texte {
    width: 75%;
    padding-left: 0.5rem;
}

.intro-texte p {
    line-height: 1.5;
    text-align: justify;
}

.intro-photo {
    width: 20%;
    height: auto;

    padding: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 54px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.intro-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50px;
}