section{
    display: flex;
}

section div{
    width: 75%;
    margin: 0 2.5%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

section div header{
    background-color: transparent;
    margin-top: 0;
    padding: 0;
    height: 1.2rem;
    text-align: center;
}

h3{
    margin: 0;
}

section div p{
    text-align: justify;
}

section img{
    border-radius: 20px;
    max-width: 20%;
    margin: 1rem;
}

.right{
    order: 1;
}

.left{
    order: 0;
}

section div footer{
    padding: 0;
}