#realisations section{
    display: flex;
    align-items: center;
}

#realisations section div{
    width: 75%;
    margin: 0 2.5%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

#realisations section div header{
    background: none;
    margin-top: 0;
    padding: 0;
    height: 1.2rem;
    text-align: center;
}

#realisations h3{
    margin: 0;
}

#realisations section div p{
    text-align: justify;
}

#realisations section img{
    align-self: center;
    border-radius: 20px;
    max-width: 20%;
    margin: 1rem;
    height: min-content;
}

.right{
    order: 1;
}

.left{
    order: 0;
}

#realisations section div footer{
    margin-top: auto;
    background: none;
    padding: 0;
}